src/main/mule/pipeline.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="17c5c354-af27-459b-8ebb-2997898bbb53" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="pipelineFlow" doc:id="3153d930-167c-45ac-8198-6fc7a9c7a8d0" >
		<http:listener doc:name="Listener" doc:id="baab7e7f-6673-437e-b7b4-583d632a31ad" config-ref="HTTP_Listener_config" path="/pipeln"/>
		<logger level="INFO" doc:name="Logger" doc:id="ae4c35ac-a4fe-4501-9a7f-aa19ad6182e4" message="#['This is the first pipeline']"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="9b67fcf9-0bb7-4185-a10f-aa863dad2108" />
	</flow>
</mule>
